
*{
  font-family: "Jersey 25", sans-serif;
  font-weight: 1000;
  font-style: normal;
}

body{
  background-color: lightblue;
}

#startScreenPannel{
  flex-direction: row;
  
  flex-wrap: nowrap;

  justify-content: center;

  align-items: center;
  height: 600px;
  
}

#bubuDreams{
  height: 600px;
}


#container {
    display: none;
   
    flex-direction: row;
  
    flex-wrap: nowrap;

    justify-content: space-around;
  
    align-items: center;
    height: 500px;
    
    
}

#leftCollumn{
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-content: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  align-items: center;
  width: 150px;
  padding-left: 3em;
}

#playScreen{
  /* /background-image: url('./images/sky.png'); */
  background-size : cover; 
  background-repeat: no-repeat;
  position: relative;
  box-sizing: border-box;
  width: 700px;

}


#rigthCollumn{
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-align-content: space-between;
  align-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  width: 200px;
  padding-right: 80px;
}
/* 
#sky{
  display: flex;
  align-self: center;
  height: 700px;
  width: 500px;
} */

.bubu-img{
width: 200px;
}

h1,h3{
  font-size: 400%;
}

#logo{
  padding-top: 15em;
}

#cloudLogo{
  position: absolute;
}