
*{
  font-family: "Jersey 25", sans-serif;
  font-weight: 1000;
  font-style: normal;
}

body{
  background-color: lightblue;
}

#startScreenPannel{
  display: flex;
  flex-direction: column;
  
  flex-wrap: nowrap;

  justify-content: center;

  align-items: center;
  height: 700px;
  
}

#butt-on{
  display: flex;
  position: relative;
  align-self: center;
  box-sizing: border-box;
  background-color: none;
  border-style: none;
  font-size: xx-large;


}

#bubuDreams{
  height: 600px;
  
}


#container {
    display: none;
   
    flex-direction: row;
  
    flex-wrap: nowrap;

    justify-content: center;
  
    align-items: center;
    height: 700px;
    
    
}

#leftCollumn{
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-content: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  align-items: center;
  width: 150px;
  padding-left: 50px;
  height: 700px;

}

#playScreen{
  /* /background-image: url('./images/sky.png'); */
  background-size : cover; 
  background-repeat: no-repeat;
  position: relative;
  box-sizing: border-box;
  width: 1000px;


}


#rightCollumn{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: stretch;
  align-items: stretch;
  width: 100px;
  padding-right: 50px;
  height: 700px;
}
/* 
#sky{
  display: flex;
  align-self: center;
  height: 700px;
  width: 500px;
} */

#bubu-img{
width: 150px;
display: flex;
align-self:first baseline ;
}

h1,h3{
  font-size: 400%;
}

#logoGrande{
  position: absolute;
} 


  #gameoverScreen{
  display: none;
   
 flex-direction: row; 
  
  flex-wrap: nowrap;

  justify-content: center;
  
  align-items: center;
  align-self: center;
  
  height: 700px;
  width: 800px;

} 

#restartButton{
  display: flex;
  position: absolute;
  align-self: last baseline;
  box-sizing: border-box;
  background-color: none;
  border-style: none;
  font-size: xx-large;
  
}

#bubuWokeUp{
  display: flex;
  position: fixed;
  align-self: baseline;

}

#bubuAwake{
  width: 600px;
  
}


@keyframes increaseDicrease {
  0%{
    width : 100 px;
    height : 100 px; 
  }
  50% { 
    width : 800 px;
    height : 600 px; 

  }
  100%{
    width : 100 px;
    height : 100 px; 

  }
  
}

.animate-bubu {
  animation: increaseDicrease;
  animation-duration: 4s;
}

#livesScreen{
  background-image: url(./images/bubu.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 150px;
}

#cloudScreen{
  background-image: url(./images/nuvenz.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 150px;

}

#gameoverContainer{
    display: none;
   
    flex-direction: row;
  
    flex-wrap: nowrap;

    justify-content: center;
  
    align-items: center;
    height: 700px;

}


#scoresScreen{

  display: none;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: stretch;
  align-items: stretch;
  align-self: flex-end;
  width: 100px;
}

